.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.735);
}

.footer_quick-links ul li {
  background: transparent !important;
}

.footer_quick-links ul li a {
  color: rgba(255, 255, 255, 0.735);
  text-decoration: none;
}

.quick__link-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.contact__footer li i,
.contact__footer li p {
  color: rgba(255, 255, 255, 0.735);
}

.contact__footer li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.735);
  font-size: 1rem;
  margin-top: 50px;
  text-align: center;
}
