.header {
  width: 100%;

  line-height: 70px;
  background-color: var(--dark-blue);
  color: #fff;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: orangered;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.cart__icon,
.fav__icon {
  position: relative;
}

.badge {
  position: absolute;
  top: 15%;
  right: -8px;
  width: 20px;
  height: 20px;

  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: orangered;
  color: #fff;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

.nav__item a:hover {
  color: orangered;
}

.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.nav__icons span i {
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.nav__icons span i:hover {
  color: orangered;
}

.nav__icons .profile {
  position: relative;
  z-index: 9;
}

.nav__icons .profile__action {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--primary-color);
  background: var(--card-bg-01);
  display: none;
}

.show__profileActions {
  display: block !important;
}

.mobile__menu {
  font-size: 1.3rem;
  color: #fff;
  display: none;
}

.nav__active {
  font-weight: 700 !important;
}

@media only screen and (max-width: 760px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .mobile__menu span i {
    font-size: 1.1rem !important;
  }

  .logo img {
    width: 1rem;
    height: 1rem;
  }
  .logo h1 {
    font-size: 1rem;
  }

  .cart__icon i,
  .fav__icon i {
    font-size: 1.2rem !important;
  }

  .nav__icons span img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
}

.log-sign {
  display: flex;
  justify-content: space-around;
}

.log-sign a {
  color: var(--primary-color);
}

.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
}
